*,*::after ,*::before
{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body
{
    width:99vw;
    min-height:330vh;
    max-height: auto;
    background:#e3edf7;
    display:grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 10vh 40vh 250vh 30vh;
    grid-gap:4px;
    overflow-X:hidden;
}

.header
{
grid-row:1/2;
grid-column:1/4;
background:#e3edf7;
display: grid;
grid-template-columns: 0.1fr 1fr 0.1fr;
grid-gap:2px;
}

.logo
{
grid-column: 1/2;
background: #e3edf7;
overflow: hidden;
display: flex;
align-items: center;
justify-content:center;
}


.logo i
{
    position: relative;
    color:#403f39;
 
}



.name
{

    grid-column: 2/3;
    
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    font-size: 73px;
    font-weight: bold;
    font-style: Palatino;
   
}


.name button
{
    height:80%;
    width:20%;
    color:#e3edf7;
    background:#403f39;
    border:none;
    font-size:24px;
    font-family:'sans serif';
    font-weight: 900;
    letter-spacing:4px;
    margin:0.2%;
    transition: all 0.5s;
    border-radius:12px;
    border-bottom:1px solid #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7), 
    -0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
   outline:none;
} 

.name button:hover
{
    cursor:pointer;
   letter-spacing:1px;
    transform: translateY(-10px);
}

.menu
{

    grid-column: 3/4;
    background: #e3edf7;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu i
{
    position: relative;
    color:#403f39;
    transition:transform 2s;
    animation:rot 2s linear infinite;
}

@keyframes rot
{
    from{
        
        transform:rotate(0deg);
    }
    to
    {
      
        transform: rotate(360deg);
    }
}

.menu i:hover
{
    color:#131211;
    cursor: pointer;
    animation:rot 1s linear infinite;
}


.slist
{
    grid-row:2/3;
    grid-column:1/4;
   display:flex;
   overflow-x:auto;
   align-items: center;
   justify-content: center;
   overflow:scroll;
   overflow-y: hidden;
   
}

.slist::-webkit-scrollbar
{
    display: none;
}

.trend
{
    float:left;
    min-width:300px;
    height:230px;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    transition: transform 1s;
   margin-left:18px;
}

.trend img
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.trend:hover
{
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,0.15), inset -6px -6px 10px -1px rgba(255,255,255,0.7), 
    -0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
   border:1px solid rgba(0,0,0,0.1);
   transform:translateY(2px);
}

.trend:hover img 
{
    transform : scale(0.98);
}
.midbox
{
    grid-row:3/4;
    grid-column:2/3;
    background:#e3edf7;
    overflow: hidden;
   
}


.midbox .trackbox
{
    position: relative;
    width:98%;
    height:400px;
    margin-left:10px;
    margin-top:5px;
    display:flex;
   transition: border .5s linear;
   border-radius:12px;

}


.trackbox:hover
{
    border-left:10px solid #403f39;
    border-right:10px solid #403f39;
}


.trackbox .profile
{
    position: relative;
    background-color:inherit;
    width:35%;
    height:80%;
    margin-right:2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.trackbox .profile img
{
    position: relative;
    width:80%;
    height:100%;
    -webkit-box-shadow: 12px 13px 5px -5px rgba(194,173,194,1);
-moz-box-shadow: 12px 13px 5px -5px rgba(194,173,194,1);
box-shadow: 12px 13px 5px -5px rgba(194,173,194,1);
transition: transform 1s;
}

.trackbox .profile img:hover
{
    transform:scale(0.9);
}


.trackbox .songs
{
    
    position: relative;
    width:65%;
    right:0px;
    height:100%;
    
}




.trackbox .songs .track1
{
    position: relative;
    width:100%;
    height:50px;
   transition: all 0.3s linear;
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    margin-top: 10px;

}

.track1 label:hover
{
    background:#403f39;
    color:#e3edf7;
}

.track1 label
{
    grid-column: 1/2;
    display:flex;
    align-items: center;
    justify-content:left;
    padding-left: 40px;
    font-size: 18px;
    color:black;
    font-weight: 900;
    background-color:#e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    transition: transform 0.5s;
    
}


.track1 .btns
{
    grid-column: 2/3;
    display:flex;
    transition: transform 0.5s;
    background:#e3edf7 ;
}

.track1 .btns a
{
    width:52px;
    height:52px;
    margin:0px 15px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    transition: transform 0.5s;
  
}



.btns a:hover i 
{
    transform : scale(0.9);
}

.btns a i
{
    font-size:35px;
    color:#403f39;
}

a:hover .fa-spotify
{
    color:#1ED761;
}

a:hover  .fa-amazon
{
    color:rgba(13, 191, 245,1);
}

a:hover .fa-google
{
    color:orange;
}




.footer
{
    grid-row:4/5;
    grid-column:1/4;
    background:#403f39;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
}

.tpehal
{
    grid-row:1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.aboutteam
{
    grid-column: 1/2;
    
}

.aboutteam span
{
    display:block;
    margin-top: 14px;
    margin-left:14px;
    letter-spacing:1px;
    color:#e3edf7;
    font-variant: small-caps;
    
}

.aboutteam span p
{
    padding-bottom: 4px;
}
.shandle
{
    grid-column: 2/3;
    background-color:#403f39;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.shandle a
{
    width:75px;
    height:75px;
    margin:0px 15px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px #403f39;
    transition: transform 0.5s;
}

.shandle a i 
{
    font-size:35px;
    color:#403f39;
}

.shandle a:hover
{
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,0.15), inset -6px -6px 10px -1px rgba(255,255,255,0.7), 
    -0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
   border:1px solid rgba(0,0,0,0.1);
   transform:translateY(2px);
}

.shandle a:hover i 
{
    transform : scale(0.9);
}

a:hover .fa-facebook
{
 color:blue;   
}


a:hover .fa-instagram
{
 color:#f14843;  
}
a:hover .fa-whatsapp
{
 color:#4fce5d;   
}
a:hover .fa-youtube
{
 color:red;   
}
a:hover .fa-twitter
{
 color:#00acee;   
}


.aboutweb
{
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(13, 191, 245,1)
}



.optns
{
    position: absolute;
    width:400px;
    height:200px;
    right:10px;
    top:100px;
    background:#403f39;
    transition:transform 2s linear;
    opacity:0;
    display:block;
    text-align: center;
    color:white;
    border-radius:12px;
    box-shadow: 6px 6px  rgb(255, 255, 255), 6px 6px 10px 1px #ffffff;
    transition: transform 0.5s;
    filter: invert();
}

form:hover + .fa-compact-discmenu
{
    color:red;
}

form
{
    width:100%;
    height:100%;
    
}

.optns header
{
    margin-top:12px;
}

.optns input[type=text]{
    margin-top:22px;
    width:80%;
    font-size:14px;
    font-style:'Courier New';
    letter-spacing:1px;
    border:none;
    outline:none;
    background:none;
    border-bottom:1px solid black;
    color:white;
}
.optns input[type=email]
{
    color:white;
    width:80%;
    font-size:14px;
    margin-top:24px;
    font-style:'Courier New';
    letter-spacing:1px;
    border:none;
    outline:none;
    background:none;
    border-bottom:1px solid black;
}

.optns input[type=tel]
{
    width:80%;
    font-size:14px;
    margin-top:24px;
    font-style:'Courier New';
    letter-spacing:1px;
    border:none;
    outline:none;
    background:none;
    border-bottom:1px solid black;
    
}



.optns input[type=submit]
{
    width:20%;
    height:10%;
    font-size:14px;
    margin-top:14px;
    background:none;
    color:black;
    font-weight:900;
    font-variant:small-caps;
    box-shadow:inset 6px 6px 10px -1px rgba(255,255,255,1), inset -6px -6px 10px -1px rgba(255,255,255,0.7), 
    -0.5px -0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
   border:none;
   outline:none;
   cursor:pointer;

}

::-webkit-input-placeholder
{
    color:rgba(255, 249, 249, 0.836);
}
